
input{
    margin: 6px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    top: 20px;
}
.last-child{
    width: 220px;
    margin-left: 20px;
}
.form .btn{
    width: 200px;
    margin-left: 20px;
}